.message {
	position: relative;
	margin: $basic-size-unit 0 $basic-size-unit * 2 0;
	font-size: 12px;
	padding: 10px;
	border-radius: 4px;
}

.message_regular {
	background-color: #f8f8f8;
	color: #747576;
}

.message_error {
	background-color: $error-background;
	color: $error-color;
}